<h1 id="a-year-of-foss-2018-2019">A Year of FOSS: 2018-2019</h1>
<h3 id="fall-2018">Fall 2018</h3>
<table>
<tbody>
<tr class="odd">
<td align="left">number</td>
<td align="left">title</td>
<td align="left">term</td>
<td align="left">days</td>
<td align="left">time</td>
</tr>
<tr class="even">
<td align="left">IGME 583</td>
<td align="left">Legal and Business Aspects of FOSS</td>
<td align="left">Fall</td>
<td align="left">Tu/Th</td>
<td align="left">12:30PM - 1:45PM</td>
</tr>
<tr class="odd">
<td align="left">ISTE 252</td>
<td align="left">Foundations of Mobile Design</td>
<td align="left">Fall</td>
<td align="left">MWF</td>
<td align="left">1:00PM - 1:50PM</td>
</tr>
<tr class="even">
<td align="left">CSCI 715</td>
<td align="left">Applications of Virtual Reality</td>
<td align="left">Fall</td>
<td align="left">Tu/Th</td>
<td align="left">11:00AM - 12:15PM</td>
</tr>
<tr class="odd">
<td align="left">ENGL 351</td>
<td align="left">Language Technology</td>
<td align="left">Fall</td>
<td align="left">MWF</td>
<td align="left">12:00PM - 12:50PM</td>
</tr>
<tr class="even">
<td align="left">ENGL 361</td>
<td align="left">Technical Writing</td>
<td align="left">Fall</td>
<td align="left">Tu/Th</td>
<td align="left">2:00PM - 3:15PM</td>
</tr>
<tr class="odd">
<td align="left">ENGL 450</td>
<td align="left">Free &amp; Open Source Culture</td>
<td align="left">Fall</td>
<td align="left">MWF</td>
<td align="left">10:00AM - 10:50AM</td>
</tr>
<tr class="even">
<td align="left">number</td>
<td align="left">title</td>
<td align="left">term</td>
<td align="left">days</td>
<td align="left">time</td>
</tr>
</tbody>
</table>
<h3 id="spring-2019">Spring 2019</h3>
<table>
<tbody>
<tr class="odd">
<td align="left">number</td>
<td align="left">title</td>
<td align="left">term</td>
<td align="left">days</td>
<td align="left">time</td>
</tr>
<tr class="even">
<td align="left">IGME 582</td>
<td align="left">Humanitarian Free/Open Source Software Development</td>
<td align="left">Spring</td>
<td align="left">MWF</td>
<td align="left">9:00AM - 9:50AM</td>
</tr>
<tr class="odd">
<td align="left">IGME 585</td>
<td align="left">Project in FOSS Development</td>
<td align="left">Spring</td>
<td align="left">Tu/Th</td>
<td align="left">8:00AM - 9:15AM</td>
</tr>
<tr class="even">
<td align="left">ENGL 361</td>
<td align="left">Technical Writing</td>
<td align="left">Spring</td>
<td align="left">Tu/Th</td>
<td align="left">9:30AM - 10:45AM</td>
</tr>
<tr class="odd">
<td align="left">ENGL 215</td>
<td align="left">Text &amp; Code</td>
<td align="left">Spring</td>
<td align="left">Wed</td>
<td align="left">5:00PM - 7:50PM</td>
</tr>
<tr class="even">
<td align="left">ENGL 351</td>
<td align="left">Language Technology</td>
<td align="left">Spring</td>
<td align="left">Tu/Th</td>
<td align="left">9:30AM - 10:45AM</td>
</tr>
<tr class="odd">
<td align="left">number</td>
<td align="left">title</td>
<td align="left">term</td>
<td align="left">days</td>
<td align="left">time</td>
</tr>
</tbody>
</table>
